@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,200,500,600,800,700);
@import "../components/bourbon/bourbon";
@import "../components/neat/neat";
@import "../components/bitters/base";
@import "variables";

body {
	border-top: 5px solid $blue;
	font-family: $raleway;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

