@import "main";

header {
	 @include outer-container;
	 padding-top: 40px;

	.logo {
		@include span-columns(4); 

		img {
			height: 140px;
		}
	}

	nav.nav {
		@include span-columns(8);
		margin-top: 60px;

		ul {
			text-align: right;

			li {
				display: inline-block;
				margin-right: 5%;

				a {
					font-weight: 600;
				}
			}
		}
	}
}